.post-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}


.comment-div {
  border-top: 3px solid;
  margin-top: 4rem;
  padding-top: 2rem;
  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
  }

}

.comment-section {
  margin-top: 1rem;
  h6 {
  color: #0275d8;
  font-weight: bold;
  font-size: 1.3rem;;
  }
}
